body {
	font-family: "Orbitron", sans-serif;
	background-color: #ebecf0;
}

:root {
	--main-color: #015607;
	--main-light-color: #008a09;
}
.decoration-none {
	text-decoration: none;
}
.text-main {
	color: var(--main-color);
}
.text-light-main {
	color: var(--main-light-color);
}

.bg-main {
	background-color: var(--main-color);
}

.bg-light-main {
	background-color: var(--main-light-color);
}

.card-custom {
	box-shadow: -5px -5px 20px white, 5px 5px 20px #babecc;
	border-radius: 5px;
	padding: 10px 20px;
	transition: 0.4s;
}

.card-custom:hover {
	box-shadow: -1px -1px 20px white, 1px 1px 20px #babecc;
}
.card-custom:active {
	box-shadow: inset 1px 1px 5px #babecc, -1px -1px 5px white;
}

.btn-circle {
	border: 0;
	outline: 0;
	border-color: #ebecf0;
	box-shadow: -5px -5px 20px#fff, 5px 5px 20px#babecc;
	transition: 0.4s;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}

.btn-circle:hover {
	box-shadow: -1px -1px 20px white, 1px 1px 20px #babecc;
}
.btn-circle:active {
	box-shadow: inset 1px 1px 5px #babecc, -1px -1px 5px white;
}
.btn-circle:focus {
	box-shadow: inset 1px 1px 5px #babecc, -1px -1px 5px white;
}

.scrollable {
	height: 450px;
	overflow-y: scroll;
}

/* Scrollbar*/
body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
.scrollbar-main::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: var(--main-color);
	-webkit-box-shadow: inset 0 0 6px rgba(34, 2, 2, 0.5);
}
body::-webkit-scrollbar-thumb:window-inactive,
.scrollbar-main::-webkit-scrollbar-thumb:window-inactive {
	background: var(--main-light-color);
}

.scrollbar-red::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(112, 15, 15, 0.5);
	-webkit-box-shadow: inset 0 0 2px rgba(34, 2, 2, 0.5);
}
.scrollbar-blue::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(15, 83, 112, 0.5);
	-webkit-box-shadow: inset 0 0 2px rgba(34, 2, 2, 0.5);
}
.scrollbar-green::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(15, 100, 44, 0.5);
	-webkit-box-shadow: inset 0 0 2px rgba(34, 2, 2, 0.5);
}
.scrollbar-red::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(216, 0, 0, 0.5);
}
.scrollbar-blue::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0, 174, 180, 0.5);
}
.scrollbar-green::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0, 160, 0, 0.5);
}

.scrollable-hidden::-webkit-scrollbar {
	display: none;
}

/*Modale Custom*/
.modal-custom {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.4s;
	overflow-y: scroll;
}
.modal-custom.active {
	z-index: 1;
	opacity: 1;
}
.modal-custom-content {
	background-color: #ebecf0;
	margin: auto;
	width: 70%;
	padding: 10px;
	border-radius: 5px;
}

.pin-new {
	border-right: 2px solid rgba(15, 83, 112, 0.2);
	position: relative;
	width: 5px;
	margin-right: 2px;
}
.pin-new::after {
	position: absolute;
	content: "";
	top: 0px;
	right: -3px;
	width: 4px;
	height: 4px;
	border-radius: 40%;
	background-color: rgba(15, 83, 112, 0.5);
}

.pin-death {
	border-right: 2px solid rgba(112, 15, 15, 0.2);
	position: relative;
	width: 5px;
	margin-right: 2px;
}

.pin-death::after {
	position: absolute;
	content: "";
	top: 0px;
	right: -3px;
	width: 4px;
	height: 4px;
	border-radius: 40%;
	background-color: rgba(112, 15, 15, 0.5);
}

.pin-recovered {
	border-right: 2px solid rgba(15, 100, 44, 0.2);
	position: relative;
	width: 5px;
	margin-right: 2px;
}

.pin-recovered::after {
	position: absolute;
	content: "";
	top: 0px;
	right: -3px;
	width: 4px;
	height: 4px;
	border-radius: 40%;
	background-color: rgba(15, 100, 44, 0.5);
}

.plot {
	height: 200px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}
